{% extends "main.html" %}
{% autoescape None %}


{% block body %}

<div class="row">
	<div class="column small-12 large-12 medium-12">
		<h1>{{ page_heading }}</h1>
	</div>
	<div class="column small-12 large-12 medium-12">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, nesciunt, vel eveniet fugit illum ut esse dolor optio velit dolore explicabo iste eos qui modi molestias autem quibusdam neque excepturi!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, nesciunt, vel eveniet fugit illum ut esse dolor optio velit dolore explicabo iste eos qui modi molestias autem quibusdam neque excepturi!</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, nesciunt, vel eveniet fugit illum ut esse dolor optio velit dolore explicabo iste eos qui modi molestias autem quibusdam neque excepturi!</p>
	</div>
</div>








{% end %}