{% extends "main.html" %}
{% autoescape None %}


{% block body %}

<div class="row">
	<div class="column small-12 large-12 medium-12">
		<h1>{{ page_heading }}</h1>
	</div>
	<div class="column small-12 large-12 medium-12">
		<h3 class="about-tagline">The Tech Policy Dictionary is about breaking down barriers between tech an policy.</h3>
	</div>
	<div class="column small-12 large-6 medium-6">
		<p>A project of <a href="http://www.thegovlab.org">The Governance Lab</a>, the TPD aims to help technologies and policy makers use the same or similar words in different contexts to mean different things. Are we talking about different things when we use the word "user" instead of the word "stakeholder"?</p>
		<p>If you squint, you might be able to find a couple of intersections, but not many.</p>
	</div>
	<div class="column small-12 large-6 medium-6">
		<p>While policymakers often lack an in-depth understanding of technical processes and infrastructure informing policy, technologists are often unaware of the laws, regulations and other governance structures governing communication technologies. The Tech-Policy Dictionary aims to bring these two worlds closer by creating a platform for crowdsourcing the definitions of terms used by technologists and policy-makers. Think of it as an Urban Dictionary for tech and policy jargon.</p>
	</div>
</div>








{% end %}