<!doctype html> 

<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>     <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>     <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="{{ static_url("css/jquery.tagit.css") }}" />
    <link rel="stylesheet" href="{{ static_url("css/jquery-ui-1.10.4.custom.min.css") }}" />
    <link rel="stylesheet" href="{{ static_url("css/libs/normalize/normalize.css") }}" />
    <link rel="stylesheet" href="{{ static_url("css/libs/foundation/css/foundation.css") }}" />
    <link rel="stylesheet" href="{{ static_url("css/scss/styles.css") }}" />
    <link rel="stylesheet" href="{{ static_url("css/luis.css") }}" />
    
    <!-- Load jQuery -->
    <script src="{{ static_url("js/jquery-2.1.0.min.js") }}"></script>
    <script src="{{ static_url("js/jquery-ui-1.10.4.custom.min.js") }}"></script>
    <script>!window.jQuery && document.write('<script src="{{ static_url("js/jquery-2.1.0.min.js") }}"><\/script>')</script>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <header class="top-menu">
        <div class="row">
            <div class="column large-12 medium-12 small-12">
                <a href="/">Home</a>
                <a href="/about/">About</a>
                <a href="/submit/">Submit</a>
                <a href="/search/">Search</a>
                {% if user %}
                <a href="/logout/">Logout</a>
                {% else %}
                <a href="/register/">Register</a>
                <a href="/login/">Login</a>
                {% end %}
            </div>
        </div>
    </header><!-- end header -->

    <div id="main">
        <div id="container">
            {% block body %}{% end %}
        </div><!-- end container -->
    </div><!-- end main -->

    <footer>
    <div class="row">
        <div class="large-8 medium-6 small-12 column">
            <!-- <p class="creative-commons-license"><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Dataset" property="dct:title" rel="dct:type">The Open Data 500</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://thegovlab.org/" property="cc:attributionName" rel="cc:attributionURL">The GovLab</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="https://github.com/GovLab/TechPolicyDict" rel="dct:source">https://github.com/GovLab/TechPolicyDict</a>.</p> -->
        </div>
        <div class="large-4 medium-6 small-12 column">
            <a href="http://thegovlab.org/"><img id="govlab-logo" src="{{ static_url("images/govlab-logo.svg") }}" alt=""></a>
        </div>

    </div>
    </footer><!-- end footer -->

    <!-- plugins -->

    <script src="{{ static_url("js/plugins.js") }}"></script>
    <script src="{{ static_url("js/parsley.js") }}"></script>
    <script src="{{ static_url("js/parsley.extend.min.js") }}"></script>
    <script src="{{ static_url("js/tag-it.js") }}"></script>

    <!-- main script -->
    <script src="{{ static_url("js/script.js") }}"></script>
    

    <!-- Front-End Dependencies -->
    <script type="text/javascript" src="//use.typekit.net/ydk0ckb.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <!--
    <script src="{{ static_url("css/libs/foundation/js/vendor/jquery.js") }}"></script>
    <script src="{{ static_url("css/libs/foundation/js/foundation.min.js") }}"></script> !-->
    <script>
      //$(document).foundation();
    </script>

    </body>
</html>