{% extends "main.html" %}
{% autoescape None %}


{% block body %}

<div class="row">
	<div class="column large-12">
		<h1>{{ page_heading }}</h1>
	</div>
</div>

<form action="/register/" id="register" method="POST" parsley-validate>
  <div class="row">
    <div class="large-12 columns">
	    <label for="">Name:
	    	<input type="text" name="name" parsley-required="true" />
	    </label>
	</div>
    <div class="large-12 columns">
		<label for="">Email:
			<input type="text" name="email" parsley-trigger="change" parsley-type="email" parsley-required="true"/>
		</label>
	</div>
	<div class="large-12 columns">
		<label for="">
			Password: <input type="password" id="password" name="password" parsley-required="true"/>			
		</label>
	</div>
	<div class="large-12 columns">
		<label for="">
			Confrim Password: <input type="password" name="password_confirm" parsley-equalto="#password" parsley-required="true"/>
		</label>
	</div>
	<div class="large-12 columns">
			{% raw xsrf_form_html() %}
			<input class="button" type="submit" value="Register" /> </form>

			{% try %}
				{% if message %}
					<div class="register-error-message"><p>{{message}}</p></div>
				{%end%}
			{%except%}
			{%end%}
	</div>	
{% end %}