{% extends "main.html" %}
{% autoescape None %}


{% block body %}

<div class="row">
	<div class="column large-12 medium-12 small-12">
		<h1>{{ page_heading }}</h1>
	</div>
</div>

<div class="row">
	<div class="column large-12 medium-12 small-12">
	{% if tag %}
		<p>Terms and phrases tagged as: {{tag}}</p>
	{% end %}
	{% if words %}
		{% for word in words %}
		<div class="needs-def {{word.defs[0].category}}">
			<a href="/word/?word={{word.name}}">{{word.name}}</a>
		</div>
		{% end %}
	{%end%}
	</div>
</div>
{% end %}