{% extends "main.html" %}
{% autoescape None %}


{% block body %}

<div class="row">
	<div class="column large-12 medium-12 small-12">
	</div>
</div>

<div class="row">
	<div class="column large-12 medium-12 small-12">
		<h1>Request a term or phrase!</h1>
	</div>
</div>
<div class="row">
	<form method="POST" name="request" parsley-validate>
		<div class="column large-12 medium-12 small-12">
			<label for="word">Word:
			<input type="text" class="word" size="35" name="word_name" parsley-remote="/validate/" parsley-remote-method="POST" parsley-required="true"></label>		
			<input type="hidden" name="action" value="request">
		</div>
		<div class="column large-12 medium-12 small-12">
			{% raw xsrf_form_html() %}
			<input class="button" type="submit"> 
		</div>
	</form>
</div>

{% if user %}

<div class="row">
	<div class="column large-12 medium-12 small-12">
		<h1>Define a word or phrase</h1>
	</div>
</div>
<div class="row">
	<form method="POST" name="define" parsley-validate>	
		<div class="column large-12 medium-12 small-12">
			<label for="word">Word:
			<input type="text" class="word" name="word_name" parsley-remote="/validate/" parsley-remote-method="POST" parsley-required="true"></label>
		</div>
		<div class="column large-12 medium-12 small-12">
			<p>Definition [100 words max]:</p>
			<textarea class="definition" name="definition" parsley-maxwords="100" parsley-required="true"></textarea>
		</div>

		<div class="column large-12 medium-12 small-12">
			<p>Category</p>
			<label for="cateory_tech"><input type="radio" name="category" id="cateory_tech" value="Tech">Tech</label>
			<label for="category_policy"><input type="radio" name="category" id="category_policy" value="Policy">Policy</label>
			<label for="category_unsure"><input type="radio" name="category" id="category_unsre" value="Unsure" parsley-required="true">Unsure</label>
		</div>

		<div class="column large-12 medium-12 small-12">
			<p>Tags (Separated by commas): </p>
			<label for="tags"><input type="hidden" class="tags" name="tags" id="tag-field"></label>
			<input type="hidden" name="action" value="define">
		</div>

		<div class="column large-12 medium-12 small-12">
			{% raw xsrf_form_html() %}
			<input class="button" type="submit"> 
		</div>
	</form>
	{% else %}
	<div class="row">
		<div class="column large-12 medium-12 small-12 bottom-message">
			<p>Would you like to define a word or phrase? You must be <a href="/login/">logged in</a> to do that.</p>
		</div>
	</div>
	{% end %}
</div>







{% end %}