// Variables

$main_color: #472b74;
$main_color_50: #8977a7;
$secondary_color: orange;
$terciary_color: green;
$gray_3: rgba(0,0,0,0.03);
$gray_10: rgba(0,0,0,0.1);
$gray_20: rgba(0,0,0,0.2);
$gray_30: rgba(0,0,0,0.3);
$gray_40: rgba(0,0,0,0.4);
$gray_60: rgba(0,0,0,0.6);
$gray_70: rgba(0,0,0,0.7);
$white: #fff;

$fancy-type: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
