body {
  background-color: rgba(0, 0, 0, 0.03); }

h1, h2, h3, h4, h5 {
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif !important; }

h1 {
  font-weight: 100 !important; }

a {
  color: #472b74 !important; }

p {
  margin-bottom: 1rem !important; }

#container {
  padding-top: 30px; }

.bottom-message {
  margin-top: 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 20px; }

.login-menu {
  float: right; }

.m-button {
  padding: 7px 10px;
  background-color: #472b74;
  color: white;
  border: 0;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: .8rem;
  font-weight: 600;
  text-transform: uppercase; }

.top-menu {
  background-color: #472b74;
  padding: 7px 0; }
  .top-menu a {
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    color: white !important;
    font-weight: 300;
    padding: 5px 20px; }
  .top-menu a:first-child {
    padding-left: 0; }
  .top-menu a:hover {
    background-color: #8977a7; }
  .top-menu a:first-child:hover {
    padding-left: 20px;
    margin-left: -20px; }

.verbete {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 3px solid #472b74;
  padding: 0 10px;
  margin-bottom: 20px;
  -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1); }
  .verbete h4 {
    font-weight: 600;
    text-transform: uppercase; }

.submitted-by {
  font-size: .8rem;
  font-style: italic;
  color: rgba(0, 0, 0, 0.6); }

.tag {
  font-style: italic; }
